# === Dependencies ===
node_modules/
electron-dist/
frontend/node_modules/

# === Frontend build ===
frontend/dist/
frontend/.eslintcache
frontend/dist-ssr/

# === Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Application Specific ===
# Configurations
config.yaml
cookies.json
.env

# Databases
*.db
*.db-shm
*.db-wal

# Storage & Temporary Files
downloads/
temp/

# Logs
*.log

# === OS & Editor ===
.DS_Store
Thumbs.db
.idea/
.vscode/
.trae/
 
release/
*.zip
scratch/
 
patch*.js
reference
