@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bili-pink: #fb7299;
  --color-bili-blue: #00a1d6;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f6f7f8;
  min-height: 100vh;
}
